**/.DS_Store
original_reports/
mock_data.json
test/
out/
# pixi environments
.pixi
*.egg-info
out/

# TeX files
# Only seeks root folder
/*.aux
/*.log
/*.pdf
/*.tex

# Downloaded data
data/var_info.csv
